* {
  margin: 0;
  padding: 0;
}

p {
  font-style: italic;
}

a {
    background-color: #44803f;
    margin: 5px;
    border-radius: 30px;
    padding: 5px;
}

h1 {
  font-family: helvetica, sans-serif, arial;
  text-align: center;
  background-color: #FFEC5C;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  color: #2f2f2b;
  background-color: #B4CF66;
  margin-top: 15px;
}

tr {
  background-color: #B4CF66;
}

/* esto es un comentario en css y estoy comentando la propiedad de fondo para que se omita ese color, y se vea el amarillo */
td {
  /* background-color: #8b5555; */ 
}

img {
  float: center;
}

#news {
  background-color: #44803F
}

#colombia {
  background-color: yellow;
}

#main-photo {
}

.news-content {
  background-color: #146152;
}

.odd {
  background-color: #B4CF66;
}

.even {
  background-color: #FFEC5C;
}